.navbar-header {
}

.button-header {
  color: white;
  background-color: blue;
}

.popover-item1 :hover {
  color: #b54b6c;
}

.anim {
  transition: all 1s linear;
  cursor: pointer;
}
.anim :hover .anim2 {
  transform: rotateY(180deg);
}

.site-header {
  width: 100%;
  height: 75px;
  background-color: white;
  z-index: 50 !important;
  border-bottom: 3px solid #b54b6c;
}

.list-reset {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu {
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  margin-right: 0px;
}

.hamburger-menu {
  justify-content: flex-end !important;
  align-items: center !important;
  display: flex;
  margin-right: 0px;
}
@media (max-width: 950px) {
  .menu {
    display: none;
    width: 0%;
  }
}

@media (min-width: 950px) {
  .hamburger-menu {
    display: none;
    width: 0%;
  }
  .sidebar-menu {
    display: none;
  }
}

.menu-item {
  display: block;
  background-color: white;
  padding: 30px;
  margin-top: 2px;
  padding-left: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.menu-item2 {
  display: block;
  background-color: white;
  padding-right: 50px;
  margin-top: 2px;
  padding-left: 50px;
}
